# Make sure that .env file exists in the project root and contains the correct values
name: vyukove-materialy
services:
  soundboard-api:
    build: apps/soundboard-api
    ports:
      - "3000:3000"

  soundboard-client:
    build:
      context: apps/soundboard-client
      args:
        VITE_SOUNDBOARD_API_URL: $SOUNDBOARD_API_URL
    ports:
      - "3001:80"

  ctf-1:
    build: apps/ctf-1
    environment:
      CTF_1_FLAG: $CTF_1_FLAG
    ports:
      - "3002:3000"

  historie-objednavek:
    build: apps/historie-objednavek
    ports:
      - "3003:80"

  score-counter-api:
    build:
      context: apps/score-counter-api
    ports:
      - "3004:3000"

  stock-price-api:
    build:
      context: apps/stock-price-api
    ports:
      - "3005:3000"

  steam-stickers-api:
    build:
      context: apps/steam-stickers-api
    environment:
      STEAM_STICKERS_API_CACHE_PATH: $STEAM_STICKERS_API_CACHE_PATH
    ports:
      - "3006:3000"
    volumes:
      - steam-stickers-cache:/mnt/steam-stickers-cache

  ctf-2:
    build: 
      context: apps/ctf-2
      args:
        VITE_CTF_2_FLAG: $CTF_2_FLAG
    ports:
      - "3007:80"

  ctf-3:
    build: apps/ctf-3
    environment:
      CTF_3_FLAG: $CTF_3_FLAG
    ports:
      - "3008:3000"

volumes:
  steam-stickers-cache:
